<footer >
  <div class="pb-5">
    <nav class="navbar navbar-expand-xl">
        <div class="collapse navbar-collapse container-fluid justify-content-center" id1="collapsibleNavbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/no-name" title="Copyright 2020">My App © {{year}}</a>
                </li>
                <li class="nav-item" matTooltip="Coming Soon!">
                    <a routerLink="/shop" class="nav-link disabled">Contact</a>
                </li>
                <li class="nav-item" matTooltip="Coming Soon!">
                    <a class="nav-link disabled" href="#">Locations</a>
                </li>

                <li class="nav-item" matTooltip="Coming Soon!">
                    <a class="nav-link disabled" href="#">Newsletter</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://angular.io/" target="_blank">
                        <img src="assets/images/angular.png" alt="logo">
                        <span class="sz">{{version}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  </div>

</footer>